<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Radial Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fraudinsight>
            <api_setting>
                <enabled>0</enabled>
                <timeout>3000</timeout>
                <debug>0</debug>
                <response_action>
                    <high>cancel</high>
                    <medium>hold</medium>
                    <low>process</low>
                    <unknown>hold</unknown>
                </response_action>
            </api_setting>
        </fraudinsight>
    </default>
</config>