<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2016. Radial inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="fraudinsight_save_order_after_submit" instance="Radial\FraudInsight\Observer\SaveFraudInsightOrderObserver" />
    </event>
    <event name="paypal_express_place_order_success">
        <observer name="fraudinsight_save_paypal_order_after_submit" instance="Radial\FraudInsight\Observer\SaveFraudInsightOrderObserver"/>
    </event>
</config>
